/.vs/DemystifyingShapes.slnx/FileContentIndex/5b1fa077-f376-4305-b801-ffb37d479e56.vsidx
/.vs/DemystifyingShapes.slnx/FileContentIndex/e626bd15-12cd-4372-97c4-fd67b2ac02a7.vsidx
/.vs/DemystifyingShapes.slnx/FileContentIndex/feacd1d3-f1b0-459f-9c46-17181c2459c9.vsidx
/.vs/DemystifyingShapes.slnx/v18/.suo
/.vs/DemystifyingShapes.slnx/v18/DocumentLayout.backup.json
/.vs/DemystifyingShapes.slnx/v18/DocumentLayout.json
/DemystifyingShapes/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/DemystifyingShapes/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.resources.dll
/DemystifyingShapes/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/DemystifyingShapes/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.resources.dll
/DemystifyingShapes/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/DemystifyingShapes/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.resources.dll
/DemystifyingShapes/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/DemystifyingShapes/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.resources.dll
/DemystifyingShapes/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/DemystifyingShapes/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.resources.dll
/DemystifyingShapes/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/DemystifyingShapes/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.resources.dll
/DemystifyingShapes/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/DemystifyingShapes/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.resources.dll
/DemystifyingShapes/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/DemystifyingShapes/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.resources.dll
/DemystifyingShapes/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/DemystifyingShapes/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/DemystifyingShapes/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/DemystifyingShapes/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.resources.dll
/DemystifyingShapes/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/DemystifyingShapes/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.resources.dll
/DemystifyingShapes/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/DemystifyingShapes/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/DemystifyingShapes/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/DemystifyingShapes/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/DemystifyingShapes/bin/Debug/net9.0/appsettings.Development.json
/DemystifyingShapes/bin/Debug/net9.0/appsettings.json
/DemystifyingShapes/bin/Debug/net9.0/Castle.Core.dll
/DemystifyingShapes/bin/Debug/net9.0/DemystifyingShapes.deps.json
/DemystifyingShapes/bin/Debug/net9.0/DemystifyingShapes.dll
/DemystifyingShapes/bin/Debug/net9.0/DemystifyingShapes.exe
/DemystifyingShapes/bin/Debug/net9.0/DemystifyingShapes.pdb
/DemystifyingShapes/bin/Debug/net9.0/DemystifyingShapes.runtimeconfig.json
/DemystifyingShapes/bin/Debug/net9.0/DemystifyingShapes.staticwebassets.endpoints.json
/DemystifyingShapes/bin/Debug/net9.0/Fluid.dll
/DemystifyingShapes/bin/Debug/net9.0/Json.More.dll
/DemystifyingShapes/bin/Debug/net9.0/JsonPath.Net.dll
/DemystifyingShapes/bin/Debug/net9.0/Microsoft.AspNetCore.Mvc.Razor.Extensions.dll
/DemystifyingShapes/bin/Debug/net9.0/Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation.dll
/DemystifyingShapes/bin/Debug/net9.0/Microsoft.AspNetCore.Razor.Language.dll
/DemystifyingShapes/bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.dll
/DemystifyingShapes/bin/Debug/net9.0/Microsoft.CodeAnalysis.dll
/DemystifyingShapes/bin/Debug/net9.0/Microsoft.CodeAnalysis.Razor.dll
/DemystifyingShapes/bin/Debug/net9.0/Microsoft.Extensions.DependencyModel.dll
/DemystifyingShapes/bin/Debug/net9.0/Microsoft.IO.RecyclableMemoryStream.dll
/DemystifyingShapes/bin/Debug/net9.0/NCrontab.dll
/DemystifyingShapes/bin/Debug/net9.0/NodaTime.dll
/DemystifyingShapes/bin/Debug/net9.0/OrchardCore.Abstractions.dll
/DemystifyingShapes/bin/Debug/net9.0/OrchardCore.Application.Targets.dll
/DemystifyingShapes/bin/Debug/net9.0/OrchardCore.Data.Abstractions.dll
/DemystifyingShapes/bin/Debug/net9.0/OrchardCore.DisplayManagement.Abstractions.dll
/DemystifyingShapes/bin/Debug/net9.0/OrchardCore.DisplayManagement.dll
/DemystifyingShapes/bin/Debug/net9.0/OrchardCore.dll
/DemystifyingShapes/bin/Debug/net9.0/OrchardCore.Infrastructure.Abstractions.dll
/DemystifyingShapes/bin/Debug/net9.0/OrchardCore.Liquid.Abstractions.dll
/DemystifyingShapes/bin/Debug/net9.0/OrchardCore.Localization.Abstractions.dll
/DemystifyingShapes/bin/Debug/net9.0/OrchardCore.Mvc.Core.dll
/DemystifyingShapes/bin/Debug/net9.0/OrchardCore.ResourceManagement.Abstractions.dll
/DemystifyingShapes/bin/Debug/net9.0/Parlot.dll
/DemystifyingShapes/bin/Debug/net9.0/TimeZoneConverter.dll
/DemystifyingShapes/bin/Debug/net9.0/ZString.dll
/DemystifyingShapes/obj/Debug/net9.0/ref/DemystifyingShapes.dll
/DemystifyingShapes/obj/Debug/net9.0/refint/DemystifyingShapes.dll
/DemystifyingShapes/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/DemystifyingShapes/obj/Debug/net9.0/ApiEndpoints.json
/DemystifyingShapes/obj/Debug/net9.0/apphost.exe
/DemystifyingShapes/obj/Debug/net9.0/Demystif.279FB19B.Up2Date
/DemystifyingShapes/obj/Debug/net9.0/DemystifyingShapes.AssemblyInfo.cs
/DemystifyingShapes/obj/Debug/net9.0/DemystifyingShapes.AssemblyInfoInputs.cache
/DemystifyingShapes/obj/Debug/net9.0/DemystifyingShapes.assets.cache
/DemystifyingShapes/obj/Debug/net9.0/DemystifyingShapes.csproj.AssemblyReference.cache
/DemystifyingShapes/obj/Debug/net9.0/DemystifyingShapes.csproj.BuildWithSkipAnalyzers
/DemystifyingShapes/obj/Debug/net9.0/DemystifyingShapes.csproj.CoreCompileInputs.cache
/DemystifyingShapes/obj/Debug/net9.0/DemystifyingShapes.csproj.FileListAbsolute.txt
/DemystifyingShapes/obj/Debug/net9.0/DemystifyingShapes.dll
/DemystifyingShapes/obj/Debug/net9.0/DemystifyingShapes.GeneratedMSBuildEditorConfig.editorconfig
/DemystifyingShapes/obj/Debug/net9.0/DemystifyingShapes.genruntimeconfig.cache
/DemystifyingShapes/obj/Debug/net9.0/DemystifyingShapes.GlobalUsings.g.cs
/DemystifyingShapes/obj/Debug/net9.0/DemystifyingShapes.MvcApplicationPartsAssemblyInfo.cache
/DemystifyingShapes/obj/Debug/net9.0/DemystifyingShapes.MvcApplicationPartsAssemblyInfo.cs
/DemystifyingShapes/obj/Debug/net9.0/DemystifyingShapes.pdb
/DemystifyingShapes/obj/Debug/net9.0/DemystifyingShapes.RazorAssemblyInfo.cache
/DemystifyingShapes/obj/Debug/net9.0/DemystifyingShapes.RazorAssemblyInfo.cs
/DemystifyingShapes/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/DemystifyingShapes/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/DemystifyingShapes/obj/Debug/net9.0/rpswa.dswa.cache.json
/DemystifyingShapes/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/DemystifyingShapes/obj/Debug/net9.0/staticwebassets.build.json
/DemystifyingShapes/obj/Debug/net9.0/staticwebassets.build.json.cache
/DemystifyingShapes/obj/Debug/net9.0/staticwebassets.references.upToDateCheck.txt
/DemystifyingShapes/obj/Debug/net9.0/staticwebassets.removed.txt
/DemystifyingShapes/obj/Debug/net9.0/swae.build.ex.cache
/DemystifyingShapes/obj/DemystifyingShapes.csproj.nuget.dgspec.json
/DemystifyingShapes/obj/DemystifyingShapes.csproj.nuget.g.props
/DemystifyingShapes/obj/DemystifyingShapes.csproj.nuget.g.targets
/DemystifyingShapes/obj/project.assets.json
/DemystifyingShapes/obj/project.nuget.cache
